<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC__GHOrAg-fgQqv7HFZo4QyAXgSoCVZe8</string>
	<key>GCM_SENDER_ID</key>
	<string>960932374200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appsketch-ai.app</string>
	<key>PROJECT_ID</key>
	<string>appsketch-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>appsketch-ai.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960932374200:ios:41da845495e85a10a8364d</string>
</dict>
</plist>